html {
	background-color: lightgray;
}
body {
	width: 945px;
	margin: 0 auto;
	background-color: white;
	background-image: url(images/12.jpg);
	background-repeat: no-repeat;
	padding-top: 160px;
}
div {
	background-color: rgba(255, 255, 255, .4);
	height: 43px;
	box-shadow: rgba(0, 0, 0, .8) 0 1px 0;
}
h1 {
	font-size: 35px;
	padding: 5px 0 0 50px;
	text-shadow: rgba(255,255,255, .8) 4px 4px 4px;
}
h2 {
	border-bottom: 2px solid lightgray;
	margin: 30px 30px 0px 30px;
	padding-top: 10px;
}
p {
	font-size: 18px;
	padding: 0px 30px 0px 70px;
	text-align: justify;
}
p::first-letter {
font-size: 20px;
}